.Antonyms {
  margin: 20px 0;
}

.Antonyms .antonyms-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-style: italic;
}

.Antonyms span {
  padding-right: 10px;
}

.Antonyms li {
  display: inline-block;
  padding-right: 10px;
}
