:root {
  --font-color: rgb(84, 119, 125);
  --main-color: #a63636;
  --secondary-color: rgb(254, 255, 228);
  --hearder-font: "Crimson Text", serif;
  --main-font: "Frank Ruhl Libre", serif;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  color: var(--font-color);
  font-family: var(--main-font);
}

.App .app-header {
  margin: 20px auto 0;
  text-align: center;
}

h1 {
  font-family: var(--hearder-font);
  font-weight: 900;
}

.App .app-img {
  margin-left: 220px;
}

.rotateimg180 {
  transform: rotate(55deg);
  width: 70px;
  opacity: 0.6;
  position: relative;
  top: -5px;
}

.App .app-footer {
  margin: 300px auto 30px;
  text-align: center;
  font-size: 16px;
  color: var(--font-color);
}

.App .app-footer a {
  
  color: var(--font-color);
}

@media (max-width: 1050px) {
  img {
    margin-right: 40px;
  }
  .rotateimg180 {
    width: 60px;
  }
  .sound-text {
    margin-left: 20px;
  }
}

@media (max-width: 960px) {
  img {
    margin-right: 40px;
  }
  .rotateimg180 {
    width: 60px;
  }
  .sound-text {
    margin-left: 20px;
  }
}
@media (max-width: 600px) {
  img {
    margin-right: 60px;
  }
  .rotateimg180 {
    width: 50px;
  }
}

@media (max-width: 400px) {
  .rotateimg180 {
    display: none;
  }

}
