.Dictionary .wordSearch {
  border-radius: 50px;
  border: 1px solid var(--font-color);
  border-right: none;
  background-color: transparent;
}

.wordSearch::placeholder {
  color: var(--font-color);
  opacity: 0.5;
}

.Dictionary .searchBtn {
  padding-right: 20px;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  border-left: none;
  border-radius: 50px;
}
