.Meaning h4 {
  color: var(--main-color);
  opacity: 0.7;
  font-family: var(--header-font);
  font-weight: 700;
}

.Meaning .definition {
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
}

.Meaning .example {
  font-style: italic;
  opacity: 0.8;
  font-size: 18px;
}