.Phonetics .sound {
  padding: 0;
  text-align: end;
}

.Phonetics button {
  padding-left: 50px;
  color: var(--font-color);
  opacity: 0.9;
  background: transparent;
  border: none;
}

.Phonetics .sound-text {
  padding: 0;
  letter-spacing: 2px;
}
