.Phonetics .sound {
  margin: 0 auto;
  
}

.Phonetics button {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  opacity: 0.9;
  background: transparent;
  border: none;
}

.Phonetics .sound-text {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

@media (max-width: 1050px) {
  .Phonetics .sound,
  .Phonetics .sound-text {
    text-align: center;
  }
}

@media (max-width: 980px) {
  .sound,
  .sound-text {
    text-align: center;
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .sound,
  .sound-text {
    display: block;
    text-align: center;
    font-size: 18px;
  }
}
