.Synonyms {
  margin: 20px 0;
}

.Synonyms .synonyms-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-style: italic;
}

.Synonyms span {
  padding-right: 10px;
}

.Synonyms li {
  display: inline-block;
  padding-right: 10px;
}
